
.enter{ 
   
    width:1040px;
    margin-left: 2rem;
    
 }
 .search-barr {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center ;
    margin-bottom: 3%;
    /* border:1px solid black; */
    width:800px;


}

.enter form{
    display: flex;
    justify-content: center;
    
    padding: 10px;
   
}
.enter form select{
    height: 35px;
    width:250px;
    background-color: var(--primary-color);
    border: none;
    font-family: 'Poppins', serif;
    margin: 0.1rem;
}
.enter form button{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
}


.enter .h2{
    font-size: 30px;
    
    font-family: 'Poppins', serif;
}

.enter h3{
    font-size: 14px;
    font-weight:500;
    color: rgb(0, 0, 0,0.5);
    font-family: 'Poppins', serif;
}

.pro-container{
    margin-top: 3%;
    background-color:#208ad548;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.info{
    display: flex;
    flex-direction: row;
    gap:15px;
    /* border: 1px solid black; */
    /* width: 80%; */

    
}

.bookmark{
    display:flex;
    justify-content: right;
    margin-top: 30px;
    margin-left: 5%;
    
    margin-right: 10px;
    
}

.pro-details{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    width:50%;
    border: 1px solid black;
    
}
.pro-details div{
    margin: 0.3rem;
}

.pro-logo{
    margin-top:10%;
    margin-left:4%;
    /* border: 1px solid black; */
    width:400px;
    height:229px;
}

.book{
    display: flex;
}

.book h2{
    font-size: 30px;
    font-family: 'Poppins', serif;
}

.book h3{
    font-size: 14px;
    font-weight:500;
    color: rgb(0, 0, 0,0.5);
    font-family: 'Poppins', serif;
}

.book .bookmark{
    margin-left:15rem;
    font-size: 30px;
    
    
}

.pro-details .but{
    background-color: #2089D5; /* Green */
  color: white;
  border-radius: 11px;
  height:55px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  margin-left: 20rem;
  
}
