*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
form{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 10px;
   
}
form select{
    height: 35px;
    width:250px;
    background-color:white;
    border: none;
    font-family: 'Poppins', serif;
    border-radius: 5px;
    letter-spacing: 0.03rem;
    
}
form select option{
    /* padding: 100px; */
}

form button{
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    
}